#if ($value)
	#if ($value.size() > 0)
		issue is reopened (<b>$value.size()</b>) times <br/>
		<table cellspacing="1" cellpadding="3" class="gridTabBox">
		<tbody>
		<tr>
			<td bgcolor="#f0f0f0"> <b>Resolved user</b></td>
			<td bgcolor="#f0f0f0"> <b>Resolved time</b></td>
			<td bgcolor="#f0f0f0"> <b>ReOpened user</b></td>
			<td bgcolor="#f0f0f0"> <b>ReOpened time</b></td>
		</tr>
	    #foreach ($singleValue in $value)
	    <tr>
	    	<td bgcolor="#f0f0f0">
	    	#if ($singleValue.resolvedUser)
	    	$singleValue.resolvedUser.fullName
	    	#end
	    	</td>	
	    	<td bgcolor="#f0f0f0">
	    	#if ($singleValue.resolvedTime)
	    		$singleValue.outlookDate.formatDMYHMS($singleValue.resolvedTime)
	    	#end
	    	</td>
	    	<td bgcolor="#f0f0f0">
	    	#if ($singleValue.reOpenedUser)
	    	$singleValue.reOpenedUser.fullName
	    	#end
	    	</td>
	    	<td bgcolor="#f0f0f0">
	    	#if ($singleValue.reOpenedTime)
	    		$singleValue.outlookDate.formatDMYHMS($singleValue.reOpenedTime)
	    	#end
	    	</td>
	    </tr>
	    #end
	    </tbody>
    	</table>
    #end
#end